<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}
<body>
{% include 'navbar.html' %}


<br>
<br>
<br>

<div class="container">
    <div class="container">
        <div id="player-container">

            <br>
            <form role="form" action="">
                <div class="form-group">
                    <label for="url">Webpage url</label>
                    <input name="url" type="url" class="form-control :focus" id="url" placeholder="Enter the url" >
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>

        </div>
    </div>
</div>

<script type="text/javascript">
    $("#form-link").addClass('active');
</script>

</body>

{% include 'footer.html' %}
</html>