<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

{% include 'header.html' %}
<body>

<link href="bootstrap/css/bootstrap.css" rel="stylesheet">

{% include 'navbar.html' %}

<br>
<br>
<br>

<div class="row">
    <div class="column col-md-3">
        <ul class="nav nav-list nav-fixed-sidebar">
            <li class="nav-header">List header</li>
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Library</a></li>
            <li class="divider"></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li class="divider"></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li class="divider"></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>

            <li class="divider"></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
        </ul>
    </div>

    <div class="col-sm-8 main">
        bye
        <!--
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>feedvids</th>
                    <th></th>
                </tr>
                </thead>

                <tr>
                    <td>Contact, features and bugs:</td>
                    <td>
                        <a href="mailto:luismora.apps@gmail.com">luismora.apps@gmail.com</a>
                    </td>
                </tr>

                <tr>
                    <td>Features:</td>
                    <td>
                        0.1 - Playlist from your Pocket (Read it later) items<br>
                        0.1 - Delete pocket item<br>
                        0.1 - Archive pocket item<br>
                        0.1 - Playlist from a list of videos (by form)<br>
                        0.2 - Show video info<br>
                        0.2 - Show article info<br>
                        0.2 - Parameter offset in playlist<br>
                        0.3 - Buttons on footer<br>
                        0.3 - Link youtube video<br>
                        0.3 - Change tab name on change vid<br>
                        0.3 - Pocket: Link item<br>
                        0.3 - Share video<br>
                        0.3 - New graphic buttons<br>
                        0.3 - Add 1 of X videos in item<br>
                        0.3 - Instructions in main view<br>
                        0.3 - Pocket: Next and prev item<br>
                        0.3 - Alt video and item<br>
                        0.3 - Mobile support<br>
                        0.3 - No google account needed<br>
                        0.3 - Use pocket account<br>
                        0.3 - Heroku migration
                        0.3 - Notifications<br>
                    </td>
                </tr>

                <tr>
                    <td>Work in progress:</td>
                    <td>
                        0.4 - Chromecast support<br>
                        0.4 - Chromecast - next pocket item<br>
                        0.4 - Chromecast - update watching item and information<br>
                        0.4 - Sidebar (bootstrap class list-group)<br>
                        0.4 - Playlist from web page (URL)
                    </td>
                </tr>

                <tr>
                    <td>Known problems:</td>
                    <td>
                        0.4 - BUG: Some videos stops when doesnt exist. What videos?<br>
                        0.4 - BUG: prev vid an error -> play the same, save the direction<br>
                        0.4 - BUG: sign out on pocket redirects to sign in<br>
                        0.4 - BUG: Filter not youtube videos<br>
                        0.4 - BUG: Share with twiter problems when #<br>
                        0.4 - BUG: when no connection to gdata... show only (x from n)<br>
                        0.4 - BUG: when no connection to gdata... title to window = item description<br>
                    </td>
                </tr>

                <tr>
                    <td>Roadmap:</td>
                    <td>
                        0.4 - Chromecast - watch this video now<br>
                        0.4 - Chromecast - watch this video after<br>
                        0.y - Vimeo support<br>
                        0.y - Last.fm scrobbling<br>
                        0.y - Visual Improvement: 1 of X videos in item
                        (https://developers.google.com/chart/interactive/docs/gallery/imagepiechart)<br>
                        0.y - Save last seen<br>
                        0.y - Pocket: Archive/delete while playing<br>
                        0.y - Make a logo<br>
                        <br>
                        0.x - Import videos from twitter user<br>
                        0.x - Import videos from chrome bookmarks<br>
                        0.x - Import videos from youtube user<br>
                        0.x - Skip this video<br>
                        0.x - Add tag with toggle buttons<br>
                        0.x - 15 seconds, 30 seconds<br>
                        0.x - Archive or delete while playing<br>
                        <br>
                        1.0 - Exclude tag or include tag<br>
                        1.0 - Move to tag<br>
                        1.0 - Embedded video<br>
                    </td>
                </tr>
            </table>
        -->

    </div>

    <!--
            <div id="page-content-wrapper">

                <div>

                </div>
            </div>
    -->
</div>


<script type="text/javascript">
    $("#about-link").addClass('active');
</script>

<br>

</body>

{% include 'footer.html' %}
</html>