<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
    <a href="/views/vids-form.html">vids form</a><br/>
    <a href="/login">login</a><br/>
    <a href="/do-pocket-oauth2">oauth2 pocket</a><br/>
    <a href="/pocket-json-list">pocket json list</a><br/>
    <a href="/pocket-playlist">pocket playlist</a><br/>
    <a href="/do-playlist?vids=FuvWc3ToDHg%2C4NIMVNeUzDY%2CFuvWc3ToDHg">video list</a><br/>
    <a href="/do-playlist?vids=https://www.youtube.com/watch?v=FuvWc3ToDHg,http://m.youtube.com/?rdm=4pf3n25ul&reload=3#/watch?v=4NIMVNeUzDY">video list by url</a><br/>
{{nothing}}
</body>
</html>
