<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">feedvids</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <!-- <li id="form-link"><a href="/form">Form</a></li>-->
                <li id="pocket-link"><a href="/pocket-playlist">Pocket</a></li>
                <li id="scrap-link"><a href="/scrap">From Url</a></li>
                <li id="about-link"><a href="/about">About</a></li>
            </ul>

            {% if user %}
            <form class="navbar-form navbar-right" >
                <div class="form-group">
                    <ul class="nav navbar-nav">
                        <li>
                            <div class="text text-muted">{{user}}</div>
                        </li>
                    </ul>
                </div>
                <a href="{{logout_url}}" class="btn btn-danger">Sign out</a>
            </form>
            {% else %}
            <form class="navbar-form navbar-right" >
                <a href="{{login_url}}" class="btn btn-success">Sign in</a>
            </form>
            {% endif %}

        </div>
    </div>

    <!--/.nav-collapse -->
</div>
