<!DOCTYPE html>
<html>
<body>
<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
    <a target="_blank" class="a2a_button_twitter"></a>
    <a class="a2a_button_facebook"></a>
    <a class="a2a_button_google_plus"></a>
    <a class="a2a_button_linkedin"></a>
</div>
<script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
<div>
    <a target="_blank" href="https://twitter.com/intent/tweet?text=http://www.marca.com">send to twitter</a>
    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=www.marca.com">send to facebook</a>
    <a target="_blank" href="https://plus.google.com/share?url=www.marca.com">send to google plus</a>
    <a target="_blank" href="http://www.linkedin.com/shareArticle?url=http://www.marca.com">send to linkedelin</a>
</div>

<div id="social" style="float:left">
   <table>
      <tr>
            <td>
               <a target="_blank" href="https://twitter.com/intent/tweet?text=http://www.google.com"><img src="c:\Users\xIS16578\Dropbox\yuvids\res\twitter.svg"></a>
            </td>
      </tr>
      <tr>
            <td>
               <a target="_blank" href="mailto:?subject=http://www.google.com&body=http://www.google.com"><img src="c:\Users\xIS16578\Dropbox\yuvids\res\mail.svg"></a>
            </td>
      </tr>
      <tr>
            <td>
               <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=www.google.com"><img src="c:\Users\xIS16578\Dropbox\yuvids\res\facebook.svg"></a>
            </td>
      </tr>
      <tr>
            <td>
               <a target="_blank" href="https://plus.google.com/share?url=www.google.com"><img src="c:\Users\xIS16578\Dropbox\yuvids\res\googleplus.svg"></a>
            </td>
      </tr>
   </table>
</div>

</body>
</html>


