<div id="social" style="float:left;">
    <table>
        <tr>
            <td >
                <a id="mail_link"
                        target="_blank"
                        href="mailto:?subject=http://www.google.com&body=http://www.google.com">
                    <img src="static/img/mail.svg">
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a id="twitter_link"
                        target="_blank"
                        href="https://twitter.com/intent/tweet?text=http://www.google.com"
                        title="Share video on twiter">
                    <img src="static/img/twitter.svg">
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a id="facebook_link"
                        target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=www.google.com"><img
                        src="static/img/facebook.svg">
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a id="googleplus_link"
                        target="_blank" href="https://plus.google.com/share?url=www.google.com"><img
                        src="static/img/googleplus.svg">
                </a>
            </td>
        </tr>
    </table>
</div>