<div class="btn-group dropup">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Share">
        <span class="glyphicon glyphicon-share-alt"></span>
    </button>
    <ul class="dropdown-menu pull-right" role="menu">
        <li>
            <a id="mail_link"
               target="_blank"
               href="mailto:?subject=http://www.google.com&body=http://www.google.com">
                <img src="img/mail.svg">
                Mail
            </a>
        </li>

        <li>
            <a id="twitter_link"
               target="_blank"
               href="https://twitter.com/intent/tweet?text=http://www.google.com"
               title="Share video on twiter">
                <img src="img/twitter.svg">
                Twitter
            </a>
        </li>
        <li>
            <a id="facebook_link"
               target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=www.google.com"><img
                    src="img/facebook.svg">
                Facebook
            </a>

        </li>
        <li>
            <a id="googleplus_link"
               target="_blank" href="https://plus.google.com/share?url=www.google.com"><img
                    src="img/googleplus.svg">
                Google+
            </a>

        </li>
    </ul>
</div>
                